	
<!-- HEADLINE -->

<div class="headline-container">
	<div class="row">
		<div class="large-8 large-centered columns">
			<h2>Create a Match. Live Trade with Friends.</h2>
			<p class="lead"> StockPocket | LiveTradr </p>
		</div>
	</div>
	<div class="row">
		<p class="button-location">
			<%= link_to "Trade Now", new_account_order_path(1), class: "btn-dl rnd" %>
		</p>
	</div>
	<div class="row">
		<div class="arrow">
			<i class="fa fa-angle-double-down"></i>
		</div>
	</div>
</div> <!-- End Headline -->



<div class="headline-bottom-bar">
</div>

<!-- SALES COPY AREA -->
<div class="sales-container">

<!-- Row One -->
	<div class="row">
		<div class="large-6 columns sales-text">
			<h2>Compete Against Your Friends!</h2>
			<h2>How do you Stand Up!</h2>
		</div>

	</div>
<!-- Row 2 -->
	<div class="row">
		<div class="large-6 columns sales-text">
			<p>"Apple is going to $115, I just know it"</p>
		</div>
		<div class="large-6 columns sales-text">	
			<p>You’re always calling out picks. Always giving
advice on apple. Time to put your knowledge 
to the test</p>
		</div>
	</div>
<!-- Row 3 -->
	<div class="row">
		<div class="large-5 columns sales-text">
			<h3>Matthew</h3>
			<h2>26.6% Gain</h2>
			<h3 style="text-align: right;">in One Day!</h3>
		</div>
		<div class="large-6 columns sales-text">	
			<p>Find me in app/views/pages/index.html.erb</p>
		</div>
	</div>
<!-- Row 4 -->
	<div class="row">
		<div class="large-6 columns sales-text">
			<p>You believe your omniscient, you ability to 
predict the future is... uncanny</p>
		</div>
		<div class="large-6 columns sales-text">	
			<p>Find me in app/views/pages/index.html.erb</p>
		</div>
	</div>
</div>

<!-- OPTIONAL SIGN UP AREA -->
<div class="signup-container">	
</div>
