// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard {
	background: #F6FCF5;
	width: 100%;
	height: 800px;
}