// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#orderHeader {
	height: 100px;
	width: 100%;
	background: #D9FCFF;
	text-align: center;
	padding-top: 20px;
}

#order {
	color: #1D8FAA;
}

.orderContainer {
	background: #F6FCF5;
	height: 768px;
	width: 100%;
	font-family: 'Exo 2';
	font-weight: 300; 
}

.orderContainer ul {
	list-style: none;
}


