
/******************
// HEADER INFO
******************/

#orderHeader {
	height: 100px;
	width: 100%;
	background: #D9FCFF;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #9BD4C6;
}

#orderHeader h2 {
	font-family: "Exo 2";
	font-weight: 400;
	color: #1D8FAA;
}

/******************
// ORDER BODY
******************/

.orderContainer {
	background: #F6FCF5;
	height: 768px;	
	width: 100%;
	font-family: 'Exo 2';
	font-weight: 300; 
	font-size: 30px;
}

.orderContainer ul {
	list-style: none;
}

/******************
// ORDER INPUTS
******************/

.orderInputContainer {
	padding-top: 50px;
	border-bottom: 1px solid #9BD4C6;
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"]   {
	background-color: white;
	height: 80px;
	font-size: 33px;
	z-index: 1000;
	border: 1px solid #9BD4C6;
	border-radius: 2px;
}


// Quantity of Shares Input
#order-qty {
	background-color: white;
	height: 80px;
	font-size: 33px;
	z-index: 1000;
	border: 1px solid #9BD4C6;
	border-radius: 2px;
}


.stock-show {
	font-size: 45px;
}




/******************
// TABLE STYLE
******************/

.columns.no-padding {
	padding: 0 9px 0 0;
}



.table-info td {
	font-size: 20px;
	height: 50px;
	width: 400px;
}


