// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.headline-container {
	background-color: #22AE73;
	background-image: linear-gradient(155deg, #00BFBC, #22AE73);
	height: 770px;
}

 .headline-bottom-bar {
 	height: 200px;
 	background: #292B33;
 }


/***********
// TEXT
************/


.headline-container h2 {
	padding-top: 230px;
	font-family: 'Exo 2';
	font-weight: 300;
	color: white;
}

.lead {
	color: #3C3E45;
	margin-bottom: 40px;
}

.button-location {
	font-size: 16px;
	margin-bottom: 20px;
	text-align: center;
	padding-top: 150px;
}

.arrow {
	padding-top: 30px;
	text-align: center;
	font-size: 3em;
	color: white;
}


// .lead:nth-of-type(2) {
// 	font-size: 14px;
// 	margin-bottom: 20px;

// }


/***********
// BUTTON MANIA
************/

.btn-dl {
	color: white;
	border: solid 1px white;
	margin-right: 10px;
	padding: 10px 20px;
	display: inline-block;
	font-family: 'raleway';
}

.btn-dl:hover {
	background-color: white;
	border-color: white;
	color: #957bba;
}

.rnd {
	border-radius: 2px;
}

#myModal h2 {
	border-radius: 5px;
	font-family: "Exo 2"
}

#tradeButton {
	background-color: none;
	border: 1px solid #F1F0F1;
	padding: 14px 72px;
	text-align: center;
	color: #F1F0F1;
}


/******************
** SALES COPY AREA
******************/


.sales-container {
	background-color: yellow;
	background-image: linear-gradient(45deg, #ED1C24, #D4145A);
	height: 768px;
}

.sales-text {

}

.sales-text {
	padding-top: 90px;
}

.sales-text h2 {
	color: white;
}

.sales-text p {
	
	font-size: 17px;
	color: white;
}



/******************
** SIGN UP DIV
******************/


.signup-container {
	background-color: #343842;
	height: 369px;
}


/*****************************
** I DONT KNOW WHAT THESE ARE
******************************/

#fontIcon {
    color: #fff;
    // text-shadow: 1px 1px 1px #ccc;
    padding-right: 5px;
    font-size: 1em;
}

.alert_notice {
	background-color: RGBA(46, 46, 46, 1);
	
}

.alert_notice p {
	margin: 0px;
	padding: 5px 0;
	color: white;
}




